html {
    background: #a52a2a;
}

body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    padding: 10px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #778899;
}

h1 {
    font-size: 3em;
    margin: 1px;
    padding: 2px;
}

p {
    line-height: 2.1em;
}

#blog {
    border-top: 4px dotted #a52a2a;
}

.blog-post {
    flex: 3;
    border-bottom: 2px solid #000;
}

article:nth-of-type(2) {
    flex: 1;
}

.sticky, .head-container {
    background: #2f4f2f;
    position: sticky;
    top: 5px;
}

header {
    background: #222;
}

.header-container {
    position: sticky;
    top: 0;
}

body {
    color: #FFFAF0;
}

article {
    background: #2f4f2f;
    padding: 20px;
    margin: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
