html{
    background: #a52a2a
}

body {
font-family: Georgia, Times, 'Times New Roman', serif;
margin: 10px;
padding: 10px;
color: #242424;
border-top: 10px soild #242424;
background: #778899
}

h1{
    font-size: 3em;
    margin: 1px;
    padding: 2px
}

p{
    line-height: 2.1em;
}

#blog{
    border-top: 4px dotted #a52a2a;
}

.blog-post{
    border-bottom: 4px dotted #a52a2a;
}

article {
    border-bottom: 5px soild #000;
}

.sticky, .blog-post {
    background: #2f4f2f;
    postion: .sticky;
    top: 5;
}

.header-container {
    position: sticky;
    top: 0;
}

body {
    color: #FFFAF0;
}

section { 
display: flex;}

header {
    background: #222;
}

article {
    background: #2f4f2f;
    padding 20px;
    margin: 20px;
}

.blog-post3 {
  background: #ccc;
  margin: 0.5px;
}
